In [1]:
import os
import pystops

## Establish the location of the results file
pystops assumes results are being read from the standard FTA STOPS folder structure:

&nbsp;&nbsp;STOPS  
&nbsp;&nbsp;&nbsp;&nbsp;|- Districts  
&nbsp;&nbsp;&nbsp;&nbsp;|- Inputs  
&nbsp;&nbsp;&nbsp;&nbsp;|- OutputData  
&nbsp;&nbsp;&nbsp;&nbsp;|- Reports  
&nbsp;&nbsp;&nbsp;&nbsp;|- Skims

In [2]:
report_file = os.path.join('..', 'data', 'STOPS', 'Reports', 'AC_m19-s19-d19#m19-s19-d19#m20-s19-d19-alt2_20_STOPSY2019Results.prn')

## Read Skim Files  
scenario =  ('exist', 'nobuild', 'build')  
mode = ('bs', 'fg', 'tr')  
<i>bs=bus only; fg=fixed guideway; tr=all transit</i>  
access = ('walk', 'pnr', 'knr')  
period = ('op', 'pk')

In [3]:
pystops.read_skim(report_file, scenario='nobuild', mode='fg', access='pnr', period='pk').head()

,MODE,ITAZ,JTAZ,ACC_TIME,XFW_TIME,EGR_TIME,WT1_TIME,WTX_TIME,FG__TIME,BUS_TIME,...,JSTOP_NO-04,MODE-01,MODE-02,MODE-03,MODE-04,TRIP_NO-01,TRIP_NO-02,TRIP_NO-03,TRIP_NO-04,PROJECTFLG
0,3,09001$0001,09001$0005,11.608398,0.0,25.67627,0.67627,0.0,6.0,0.0,...,0,2,0,0,0,164,0,0,0,0
1,3,09001$0002,09001$0005,12.438965,0.0,25.67627,2.67627,0.0,6.0,0.0,...,0,2,0,0,0,166,0,0,0,0
2,3,09001$0003,09001$0005,11.485596,0.0,25.67627,2.67627,0.0,6.0,0.0,...,0,2,0,0,0,166,0,0,0,0
3,3,09001$0004,09001$0005,8.729248,0.0,25.67627,5.32373,0.0,6.0,0.0,...,0,2,0,0,0,166,0,0,0,0

## Example Table Reads

#### 1.02: Station Listing

In [4]:
pystops.parse_table(report_file, '1.02').head(3)

,S2S#,Sequence,Station Name,Code,Group,Type,New/Exist,BoardCount,WalkPen,KNRPen,PNRPen,SameGTFS,DiffGTFS,GTF STOP1,GTF STOP2,GTF STOP3,GTF STOP4,FareZone
1,1,1,400 CESAR CHAVEZ/TRI,NaN,1-CBD,1,E,6,0.00,0.00,0.00,0.00,0.00,1038&C,NaN,NaN,NaN,0
2,1,2,1801 ENFIELD/HARTFOR,NaN,1-CBD,1,E,8,0.00,0.00,0.00,0.00,0.00,1444&C,NaN,NaN,NaN,0
3,1,3,1603 ENFIELD/WEST LY,NaN,1-CBD,1,E,5,0.00,0.00,0.00,0.00,0.00,1446&C,NaN,NaN,NaN,0

#### 2.04: Station Group Boardings Prior To Adjustment

In [5]:
pystops.parse_table(report_file, '2.04').head()

,CBD,UT,EAust,NEAust,NLamar,ERiver,Unnamed: 7,Unnamed: 8,Unnamed: 9,SSide,SSub,WSub,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
origin,,,,,,,,,,,,,,,,,
1-CBD :,644,2351,1153,656,1782,7,0,0,0,1960,2011,1566,0,4,12134,10975,10975
2-UT :,2351,16162,802,678,2858,64,0,0,0,4556,1408,2755,0,22,31656,26293,26293
3-EAust :,1153,802,1086,547,525,0,0,0,0,837,89,200,0,0,5238,5656,5656
4-NEAust:,656,678,547,1001,903,200,0,0,0,388,46,22,0,0,4441,5258,5258
5-NLamar:,1782,2858,525,903,8260,18,0,0,0,920,523,1083,0,0,16872,17503,17503

#### 4.02: Weekday Incremental Linked Dist-to-Dist Transit Trips, Build, All Trips

In [6]:
pystops.parse_table(report_file, '4.02')

,CBD,UT,EAust,NEAus,NLama,ERive,SPflu,RRock,NPflu,SSide,SSub,WSub,NSub,ESub,Other,Total
origin,,,,,,,,,,,,,,,,
CBD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
UT,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
EAust,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NEAus,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NLama,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ERive,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SPflu,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
RRock,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NPflu,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SSide,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
SSub,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
WSub,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NSub,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ESub,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Other,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### 9.01: Average Weekday Station Boardings by Mode of Access

In [7]:
pystops.parse_table(report_file, '9.01').head()

,stop_id,station_name,exist_wlk,exist_knr,exist_pnr,exist_xfr,exist_all,nb_wlk,nb_knr,nb_pnr,nb_xfr,nb_all,bld_wlk,bld_knr,bld_pnr,bld_xfr,bld_all
0,1038&C,400 CESAR CHAVEZ/TRI,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1
1,1444&C,1801 ENFIELD/HARTFOR,6,0,0,0,6,6,0,0,0,6,6,0,0,0,6
2,1446&C,1603 ENFIELD/WEST LY,3,0,0,0,3,3,0,0,0,3,3,0,0,0,3
3,1448&C,12TH/EASON,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1450&C,1201 12TH/BLANCO,34,0,0,0,34,34,0,0,0,34,34,0,0,0,34

#### 10.01: Average Weekday Route Boardings by Zone (Production-End) Access Type

In [8]:
pystops.parse_table(report_file, '10.01').head()

,route_id,route_name,route_count,exist_wlk,exist_knr,exist_pnr,exist_all,nb_wlk,nb_knr,nb_pnr,nb_all,bld_wlk,bld_knr,bld_pnr,bld_all
1,1&C,--1-Metric/South Congress,6227,5394,242,117,5754,5394,242,117,5754,5394,242,117,5754
2,10&C,--10-South 1st/Red River,4683,4883,392,52,5327,4883,392,52,5327,4883,392,52,5327
3,100&C,--100-MetroAirport,914,676,239,20,934,676,239,20,934,676,239,20,934
4,103&C,--103-Manchaca Flyer,56,310,12,0,322,310,12,0,322,310,12,0,322
5,110&C,--110-South Central Flyer,63,133,24,0,158,133,24,0,158,133,24,0,158

#### 345.01: Existing WEEKDAY LINKED TRANSIT TRIPS (All Transit/All car HH)

In [9]:
pystops.parse_table(report_file, '345.01').head()

,CBD,UT,EAust,NEAus,NLama,ERive,SPflu,RRock,NPflu,SSide,SSub,WSub,NSub,ESub,Other,Total
origin,,,,,,,,,,,,,,,,
CBD,293,892,466,118,608,5,0,0,0,477,331,197,0,0,0,3387
UT,2781,12068,466,163,987,9,0,0,0,1018,520,690,0,0,0,18702
EAust,902,974,688,390,665,14,0,0,0,517,315,195,0,0,0,4662
NEAus,856,941,651,612,1150,62,0,0,0,414,596,253,0,0,0,5535
NLama,2395,3268,776,503,4333,10,0,0,0,878,843,987,0,0,0,13994

## Summarize Access Mode Percentages

In [10]:
pystops.summarize_access_modes(report_file, percentage=True)

               wlk       knr       pnr       xfr
existing  0.763322  0.034366  0.017277  0.185035
nb        0.763322  0.034366  0.017277  0.185035
bld       0.763322  0.034366  0.017277  0.185035